nav{
    margin-right: 20px;
    width: 55vw;
    
}
.navbar-items-wraper{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.navbar-Item{
font-size: 1em;
margin-right: 5px;
}

@media  screen and (max-width:1000px) {
.navbar-Item{
    font-size: 0.9em;
}
}

@media  screen and (max-width:1000px) {
    .Burger-items-wraper{
    display: flex;
    flex-direction: column;
    }
    }

